
<link rel="stylesheet" type="text/css" href="/css/footer.css">
  <footer class="footer mobile-version">
    <div class="british-logo">
      <img src="/images/flag.png"  alt="">
      <svg xmlns="http://www.w3.org/2000/svg" width="163" height="36" viewBox="0 0 163 36" fill="none">
        <path
          d="M0.0461587 0.299475C0.934462 0.610845 1.82576 0.913241 2.71017 1.23479C7.46905 2.96469 12.2279 4.69459 16.9832 6.43408C20.8714 7.8562 23.3663 10.5244 24.2612 14.6156C24.4091 15.2923 24.5902 15.962 24.7567 16.6347C24.7651 16.6686 24.7806 16.7006 24.813 16.7877C25.0178 15.9665 25.2234 15.1968 25.401 14.4207C26.3031 10.4741 28.7377 7.87895 32.4814 6.49425C38.0926 4.41885 43.7218 2.39075 49.3433 0.342893C49.4217 0.31445 49.5014 0.2887 49.6115 0.250977C49.3882 1.31892 49.1855 2.37128 48.9445 3.41467C48.7672 4.18202 48.5469 4.9395 48.3343 5.69816C47.9598 7.03586 47.1427 8.06068 45.9404 8.70588C44.8293 9.30197 43.6671 9.82053 42.4874 10.2681C39.9755 11.2214 37.4349 12.0971 34.9119 13.0217C32.47 13.9162 30.4458 15.3438 29.1123 17.6383C28.3743 18.9081 28.0093 20.2996 27.7186 21.7224C27.0084 25.2001 26.2851 28.6755 25.5678 32.1518C25.563 32.1745 25.5672 32.1991 25.5672 32.2482C25.8567 32.2482 26.1465 32.2482 26.4707 32.2482C26.7144 31.0934 26.9477 29.9249 27.2084 28.7629C27.8731 25.8016 28.5036 22.8316 29.2353 19.8868C29.9257 17.1072 31.7586 15.2938 34.4047 14.3105C38.6809 12.722 42.9728 11.1753 47.258 9.61095C47.2912 9.59897 47.3257 9.59059 47.4167 9.56365C47.3349 9.94687 47.2634 10.3011 47.184 10.6534C46.9951 11.4926 46.7957 12.3292 46.6134 13.1699C46.2565 14.8153 45.2089 15.8617 43.694 16.4563C41.727 17.2284 39.7411 17.953 37.7618 18.6943C37.292 18.8703 36.8166 19.0299 36.3448 19.2003C33.3625 20.2769 31.5524 22.3415 30.9416 25.4798C30.323 28.6587 29.6341 31.8242 28.9904 34.9984C28.9252 35.3197 28.8021 35.4038 28.477 35.4017C26.0103 35.3852 23.5432 35.3885 21.0765 35.3987C20.8014 35.3999 20.6942 35.3355 20.6352 35.0457C19.9721 31.7901 19.2757 28.5414 18.617 25.2849C17.9985 22.2271 16.1614 20.2649 13.2788 19.2021C10.8256 18.2973 8.37472 17.3856 5.92807 16.4623C5.57358 16.3285 5.23796 16.1318 4.91432 15.9312C4.07272 15.4096 3.43501 14.7072 3.17872 13.7312C2.81885 12.3615 2.49191 10.9831 2.13144 9.52921C3.54458 10.0457 4.85324 10.5253 6.16279 11.0028C9.08009 12.0663 11.9941 13.1384 14.9159 14.1884C18.0365 15.3099 19.9206 17.4668 20.6038 20.7281C21.4023 24.5406 22.2738 28.3381 23.1139 32.1419C23.1214 32.1754 23.1361 32.2072 23.1528 32.256C23.4459 32.256 23.739 32.256 24.0594 32.256C23.8133 31.0674 23.5711 29.8982 23.3295 28.7288C22.7732 26.0366 22.2529 23.3367 21.6523 20.6544C20.8083 16.8862 18.4416 14.4321 14.8779 13.0944C12.1279 12.0621 9.35763 11.084 6.59991 10.0717C6.00621 9.85376 5.42478 9.60077 4.84366 9.35018C4.54816 9.22263 4.25984 9.07533 3.97841 8.91875C2.58922 8.14661 1.58684 7.04873 1.20122 5.47601C0.788657 3.79401 0.413216 2.10303 0.0234047 0.415348C0.0162192 0.384211 0.031189 0.347678 0.0356799 0.313847L0.0461587 0.299475Z"
          fill="white" />
        <path
          d="M55.6406 0.349729C55.7535 0.343741 55.8358 0.335658 55.9179 0.335658C58.7067 0.335059 61.4956 0.331459 64.2844 0.337147C65.4042 0.339243 66.4676 0.576368 67.4311 1.17276C69.9876 2.75566 70.1517 6.31037 67.7505 8.11962C67.5221 8.29177 67.276 8.44116 67.0006 8.62649C67.1407 8.70523 67.2691 8.77648 67.3967 8.84954C68.6535 9.57048 69.6364 10.5327 70.0265 11.9731C70.6723 14.3581 69.3822 16.6901 66.9221 17.5158C66.2524 17.7407 65.5224 17.8793 64.8177 17.8889C61.8258 17.9296 58.8334 17.9071 55.8409 17.9074C55.7816 17.9074 55.7224 17.9002 55.6406 17.8948C55.6406 12.0546 55.6406 6.21996 55.6406 0.349729ZM58.8274 15.1269C58.9028 15.1347 58.9606 15.1461 59.0184 15.1461C60.669 15.147 62.3195 15.1533 63.9701 15.141C64.2898 15.1386 64.6168 15.0943 64.9269 15.0165C66.4296 14.6383 67.2461 13.2414 66.7829 11.8701C66.4542 10.8974 65.4308 10.1723 64.2368 10.1531C62.4551 10.1244 60.6729 10.1447 58.8909 10.1459C58.8708 10.1459 58.851 10.1675 58.8277 10.1809C58.8274 11.824 58.8274 13.4686 58.8274 15.1269ZM58.8346 3.10895C58.8346 4.59544 58.8346 6.0475 58.8346 7.4858C60.5717 7.4858 62.283 7.52052 63.991 7.46214C64.4371 7.44687 64.9252 7.21814 65.3048 6.95766C66.4317 6.18403 66.4521 4.58197 65.3919 3.71732C64.9204 3.33289 64.3662 3.12571 63.7716 3.11733C62.1336 3.09368 60.4947 3.10895 58.8346 3.10895Z"
          fill="white" />
        <path
          d="M78.255 12.0074C78.255 13.9918 78.255 15.9295 78.255 17.8869C77.188 17.8869 76.1416 17.8869 75.0781 17.8869C75.0781 12.043 75.0781 6.20631 75.0781 0.366917C75.1224 0.354942 75.1563 0.337874 75.1901 0.338173C77.9679 0.348951 80.7508 0.258834 83.5213 0.40404C85.8575 0.526792 87.7524 1.61181 88.7817 3.82493C90.1889 6.85061 88.7033 10.2706 85.4962 11.5089C85.3542 11.5637 85.2123 11.6182 85.0507 11.6804C85.7857 12.7244 86.5081 13.7514 87.2312 14.7774C87.9527 15.8016 88.6751 16.8249 89.438 17.9067C88.7614 17.9067 88.1461 17.9067 87.5308 17.9067C87.0518 17.9067 86.5725 17.8947 86.0941 17.912C85.8779 17.9198 85.7515 17.8504 85.6276 17.6722C84.3779 15.875 83.1145 14.0873 81.8666 12.2888C81.7205 12.0783 81.5729 11.9963 81.3151 12.0005C80.3115 12.0173 79.3077 12.0074 78.255 12.0074ZM78.2867 3.22793C78.2867 5.23418 78.2867 7.14042 78.2867 9.05086C79.7864 9.05086 81.2582 9.06943 82.7295 9.04248C83.4145 9.02991 84.0764 8.85356 84.6785 8.50028C85.7926 7.8473 86.2905 6.62696 85.9195 5.38956C85.5566 4.18001 84.6324 3.52912 83.4705 3.41745C81.7621 3.25368 80.0352 3.28242 78.2867 3.22793Z"
          fill="white" />
        <path
          d="M151.049 17.8932C149.953 17.8932 148.915 17.8932 147.861 17.8932C147.861 12.0427 147.861 6.2063 147.861 0.352539C148.912 0.352539 149.949 0.352539 151.026 0.352539C151.026 2.72464 151.026 5.08746 151.026 7.47034C153.967 7.47034 156.869 7.47034 159.795 7.47034C159.795 5.10243 159.795 2.74769 159.795 0.363914C160.876 0.363914 161.933 0.363914 163.001 0.363914C163.001 6.20331 163.001 12.0313 163.001 17.8836C161.949 17.8836 160.901 17.8836 159.822 17.8836C159.822 15.4196 159.822 12.9472 159.822 10.4493C156.887 10.4493 153.984 10.4493 151.049 10.4493C151.049 12.9181 151.049 15.3914 151.049 17.8932Z"
          fill="white" />
        <path
          d="M128.896 15.3402C129.508 14.5842 130.109 13.8402 130.719 13.0851C131.046 13.3423 131.356 13.6043 131.684 13.8402C133.37 15.0522 135.233 15.6369 137.319 15.3908C137.971 15.3138 138.57 15.0929 139.085 14.6674C140.001 13.9106 140.241 12.1681 138.764 11.5157C137.778 11.0807 136.71 10.8313 135.677 10.5044C134.597 10.1627 133.49 9.8903 132.441 9.47354C131.203 8.98193 130.22 8.16728 129.794 6.82479C129.109 4.66406 129.974 2.33298 131.94 1.07492C133.405 0.136919 135.032 -0.0879289 136.725 0.0279368C138.842 0.173143 140.717 0.935403 142.351 2.29166C142.397 2.32998 142.444 2.36681 142.487 2.40783C142.503 2.4231 142.51 2.44854 142.531 2.48896C141.97 3.24793 141.403 4.01408 140.819 4.80418C140.605 4.63981 140.412 4.48502 140.213 4.33922C138.836 3.33265 137.325 2.69974 135.589 2.75004C134.75 2.77429 133.996 3.04254 133.389 3.65451C132.632 4.41706 132.459 5.90985 133.802 6.6266C134.785 7.15144 135.872 7.33856 136.928 7.63855C138.062 7.9607 139.207 8.27686 140.291 8.73074C141.615 9.28492 142.586 10.237 142.897 11.7151C143.433 14.2585 142.226 16.5491 139.817 17.5707C136.51 18.9745 131.446 17.9506 128.896 15.3402Z"
          fill="white" />
        <path
          d="M110.836 17.8885C109.738 17.8885 108.702 17.8885 107.641 17.8885C107.641 13.0132 107.641 8.15641 107.641 3.25921C105.759 3.25921 103.899 3.25921 102.025 3.25921C102.025 2.2769 102.025 1.33501 102.025 0.36377C106.815 0.36377 111.607 0.36377 116.422 0.36377C116.422 1.30896 116.422 2.25834 116.422 3.23916C114.575 3.23916 112.726 3.23916 110.837 3.23916C110.836 8.13306 110.836 12.9958 110.836 17.8885Z"
          fill="white" />
        <path
          d="M159.316 30.3346C160.452 31.9466 161.559 33.5178 162.712 35.1552C162.129 35.1552 161.601 35.0905 161.095 35.1692C160.18 35.3121 159.646 34.9414 159.175 34.1723C158.471 33.0217 157.637 31.9511 156.87 30.8385C156.742 30.652 156.614 30.5673 156.378 30.5723C155.615 30.5894 154.851 30.5786 154.054 30.5786C154.054 32.1175 154.054 33.619 154.054 35.1375C153.222 35.1375 152.424 35.1375 151.602 35.1375C151.602 30.6229 151.602 26.1063 151.602 21.5618C151.693 21.5573 151.785 21.5489 151.877 21.5489C153.768 21.548 155.66 21.5471 157.552 21.5489C158.822 21.5501 159.993 21.8764 160.991 22.6824C163.623 24.8057 162.928 28.8859 159.721 30.1801C159.601 30.2283 159.48 30.2723 159.316 30.3346ZM154.064 28.3032C155.154 28.3032 156.206 28.3059 157.257 28.3008C157.46 28.2999 157.664 28.2826 157.864 28.2508C158.841 28.0958 159.664 27.7023 159.983 26.6826C160.373 25.4365 159.64 24.2237 158.254 23.9665C157.394 23.8069 156.495 23.8512 155.613 23.8204C155.102 23.8024 154.591 23.8171 154.064 23.8171C154.064 25.3252 154.064 26.791 154.064 28.3032Z"
          fill="white" />
        <path
          d="M79.6859 35.3948C75.7887 35.3969 72.5283 32.1781 72.5313 28.3321C72.5345 24.5089 75.7979 21.2979 79.6802 21.2979C83.549 21.2979 86.8258 24.5292 86.8255 28.3444C86.8252 32.1629 83.5547 35.3927 79.6859 35.3948ZM84.2717 28.3707C84.2828 25.7612 82.2083 23.5816 79.7056 23.5736C77.1841 23.5658 75.068 25.7133 75.0548 28.2938C75.0414 30.9318 77.1335 33.129 79.6652 33.1353C82.1667 33.1419 84.2606 30.9761 84.2717 28.3707Z"
          fill="white" />
        <path
          d="M133.341 23.5125C132.744 24.0687 132.167 24.6059 131.586 25.1478C130.685 24.196 129.585 23.6756 128.311 23.5912C125.96 23.4349 123.94 24.9669 123.381 27.2774C122.659 30.2659 125.051 33.2281 128.119 33.1305C129.058 33.1006 129.929 32.8126 130.714 32.2964C130.813 32.2314 130.908 32.0778 130.911 31.9632C130.929 31.2216 130.92 30.4794 130.92 29.6956C129.791 29.6956 128.674 29.6956 127.543 29.6956C127.543 29.0117 127.543 28.3695 127.543 27.698C129.461 27.698 131.38 27.698 133.324 27.698C133.329 27.7908 133.34 27.8944 133.34 27.998C133.342 29.6261 133.347 31.2542 133.332 32.8823C133.331 33.0491 133.255 33.2685 133.134 33.3727C131.024 35.2053 128.596 35.8832 125.901 35.0769C123.232 34.2784 121.523 32.4542 120.892 29.7189C120.182 26.639 121.895 23.4086 124.886 21.9838C127.964 20.5179 131.566 21.6362 133.341 23.5125Z"
          fill="white" />
        <path
          d="M139.953 23.7905C139.953 24.9115 139.953 25.9755 139.953 27.0761C142.283 27.0761 144.611 27.0761 146.961 27.0761C146.961 27.8461 146.961 28.5802 146.961 29.341C144.63 29.341 142.311 29.341 139.969 29.341C139.969 30.5326 139.969 31.6978 139.969 32.8972C142.541 32.8972 145.109 32.8972 147.693 32.8972C147.693 33.6571 147.693 34.3828 147.693 35.1319C144.298 35.1319 140.904 35.1319 137.484 35.1319C137.484 30.6188 137.484 26.101 137.484 21.5654C140.882 21.5654 144.267 21.5654 147.681 21.5654C147.681 22.2906 147.681 23.0244 147.681 23.7905C145.123 23.7905 142.556 23.7905 139.953 23.7905Z"
          fill="white" />
        <path
          d="M118.277 35.1555C117.417 35.1555 116.591 35.1633 115.766 35.1453C115.664 35.1432 115.518 35.0235 115.473 34.9226C115.187 34.2795 114.918 33.6283 114.655 32.975C114.581 32.7912 114.5 32.6972 114.274 32.6984C112.251 32.7094 110.228 32.7071 108.205 32.7008C108.021 32.7002 107.931 32.755 107.862 32.9286C107.597 33.5936 107.32 34.254 107.029 34.9085C106.983 35.0118 106.846 35.1423 106.748 35.1444C105.911 35.163 105.074 35.1552 104.199 35.1552C104.244 35.0193 104.273 34.9073 104.317 34.8013C106.12 30.484 107.927 26.1683 109.722 21.8483C109.822 21.6085 109.946 21.5363 110.196 21.5423C110.914 21.5594 111.633 21.5546 112.351 21.5441C112.544 21.5414 112.644 21.5926 112.722 21.7821C114.553 26.1782 116.391 30.5712 118.227 34.9651C118.246 35.0076 118.252 35.0552 118.277 35.1555ZM113.634 30.5385C112.836 28.6347 112.053 26.7644 111.248 24.8414C110.44 26.7722 109.659 28.6392 108.864 30.5385C110.469 30.5385 112.026 30.5385 113.634 30.5385Z"
          fill="white" />
        <path
          d="M62.6817 31.8332C62.7476 31.688 62.7985 31.5835 62.8431 31.4766C64.1847 28.2719 65.5287 25.068 66.861 21.8591C66.9583 21.6247 67.0679 21.5352 67.3268 21.5412C68.1158 21.5597 68.9056 21.5478 69.7364 21.5478C69.6927 21.6705 69.6636 21.7657 69.6253 21.8573C67.8188 26.1878 66.0089 30.517 64.2099 34.8508C64.1108 35.0897 63.9916 35.1675 63.7383 35.1612C63.0084 35.1436 62.2773 35.163 61.5473 35.1463C61.4387 35.1439 61.2734 35.0502 61.2339 34.9568C59.3746 30.532 57.5265 26.1028 55.678 21.6735C55.6696 21.6532 55.6744 21.6274 55.6699 21.5481C56.1187 21.5481 56.5651 21.5436 57.0115 21.5493C57.4645 21.555 58.0172 21.4166 58.3414 21.6265C58.6492 21.8256 58.7208 22.393 58.8911 22.8007C60.0983 25.6866 61.3042 28.5728 62.5111 31.4586C62.5572 31.5676 62.6093 31.6745 62.6817 31.8332Z"
          fill="white" />
        <path
          d="M89.3359 21.548C90.2841 21.548 91.1697 21.5372 92.0544 21.5602C92.1784 21.5635 92.3395 21.7055 92.4134 21.8261C93.5385 23.6593 94.6517 25.5 95.7687 27.3383C95.8361 27.449 95.9112 27.5547 95.9981 27.6859C97.0986 25.9045 98.2202 24.1689 99.2501 22.3809C99.6282 21.7243 100.036 21.4366 100.791 21.5342C101.344 21.6058 101.914 21.5498 102.477 21.5516C102.499 21.5516 102.522 21.5626 102.586 21.5797C102.513 21.6971 102.446 21.8046 102.379 21.9111C100.726 24.5284 99.0702 27.144 97.4262 29.7669C97.3199 29.9364 97.2585 30.1636 97.2567 30.3645C97.2432 31.9432 97.2492 33.522 97.2492 35.1279C96.4127 35.1279 95.5939 35.1279 94.7208 35.1279C94.7208 35.0153 94.7208 34.8905 94.7208 34.7656C94.7208 33.3411 94.7325 31.9166 94.7107 30.4924C94.7065 30.2241 94.6262 29.9223 94.4846 29.6963C92.8541 27.0931 91.2048 24.5018 89.5608 21.9069C89.4976 21.8075 89.4359 21.7081 89.3359 21.548Z"
          fill="white" />
        <path
          d="M94.1543 0.348633C95.2148 0.348633 96.2408 0.348633 97.2923 0.348633C97.2923 6.19761 97.2923 12.0325 97.2923 17.8878C96.2516 17.8878 95.2148 17.8878 94.1543 17.8878C94.1543 12.0538 94.1543 6.21796 94.1543 0.348633Z"
          fill="white" />
        <path
          d="M121.156 0.357422C122.196 0.357422 123.232 0.357422 124.291 0.357422C124.291 6.19921 124.291 12.0353 124.291 17.8897C123.25 17.8897 122.214 17.8897 121.156 17.8897C121.156 12.0503 121.156 6.21508 121.156 0.357422Z"
          fill="white" />
        <path
          d="M0.036507 0.313281C0.0242318 0.303401 0.0104602 0.294715 0.000280737 0.283038C-0.00181503 0.280344 0.00836434 0.267172 0.0128553 0.258789C0.0242322 0.272262 0.0356089 0.28603 0.0466865 0.299503L0.036507 0.313281Z"
          fill="white" />
      </svg>
    </div>
    <div class="footer-box">
      <div class="footer-content">
        <div class="footer-col">
          <hr class="footer-lines">
          <div class="drop-options">
            <h4>Category</h4>
            <h4 class="add_symbol">+</h4>
          </div>

          <ul>
            <li><a href="#">Luggage</a></li>
            <li><a href="#">Backpacks</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <hr class="footer-lines">
          <div class="drop-options">
            <h4>Policies</h4>
            <h4 class="add_symbol">+</h4>
          </div>
          <ul>
            <li><a href="#">Privacy Policies</a></li>
            <li><a href="#">Returns & Exchanges</a></li>
            <li><a href="#">Shipping Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Warranty Policy</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <hr class="footer-lines">
          <div class="drop-options">
            <h4>SUPPORT</h4>
            <h4 class="add_symbol">+</h4>
          </div>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Return</a></li>
          </ul>
          <hr class="footer-lines">
        </div>
      </div>
    </div>
    <div class="social-media">
      <i class="fa-brands fa-whatsapp"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const footerCols = document.querySelectorAll('.mobile-version .footer-col');

      footerCols.forEach(function (footerCol) {
        const dropdown = footerCol.querySelector('.drop-options');

        dropdown.addEventListener('click', function () {
          footerCol.classList.toggle('opened');
        });
      });
    });
  </script>
