<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<div class="text-center top-ad  text-white">
  <p class="top-para">free delivery on all orders in india</p>
</div>

<nav class="nav sticky-top">

  <img onclick="movePage('home')" class="header_logo" src="/images/BV Secondary Logo.png" alt="logo">

  <ul class="nav-links">
    <i class="fa-solid fa-xmark uil uil-times navCloseBtn" style="color: #010204;"></i>
    <li><a href="#">Luggages</a></li>
    <li><a href="#">Backpacks</a></li>
    <li><a href="#">Laptop Bags</a></li>
    <li><a href="#">Browse More</a></li>
  </ul>
  <div class="nav_end">
    <i class="uil uil-search search-icon" id="searchIcon"></i>

      <i class="fa-solid fa-magnifying-glass " style="color: #000000;"></i> 
      <%- include('../partials/searchPopup') %>
      <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
      <%- include('../partials/cart') %>
      <i onclick="movePage('profile')" class="fa-regular fa-user" style="color: #000000;"></i>
  </div>



  <i class="fa-solid fa-bars uil uil-bars navOpenBtn"></i>
</nav>

<script src="/js/navbar.js"></script>