<link rel="stylesheet" type="text/css" href="/css/searchPopup.css">
<div class="search_popup">
    <p class="search_head">
        SEARCH
    </p>
    <div class="search_box">
        <img class="search_logo" src="/images/6ee9ef7d64aaa6d4dce1a74e56f46035.png" alt="magnifying glass">
        <input class="search_input" type="text" name="" id="searchInput">
        <svg class="close_btn" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
            fill="none">
            <path d="M1 1L14 14M1 14L14 1" stroke="#6C6C6C" stroke-width="2" />
        </svg>
    </div>
    <hr class="search_line">
  <div id="searchResults">


  </div>
    <!-- <div class="view_all_btn text-center">
        <button class="my-3 ">VIEW ALL RESULTS</button>
    </div> -->
</div>
<script src="/js/searchPopup.js" defer></script>