<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>British voyager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/99a73375c2.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/home.css">
</head>

<script>

  // Function to get a cookie
    function getCookie(name) {
    const keyValue = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
    return keyValue ? keyValue[2] : null;
  }

</script>

<body>
  <%- include('partials/navbar') %>

  <!-- main page -->

  <div class="main_image">
    <a href=""> <img src="./images/Component 11.png" alt=""></a>
  </div>

  <div class="second_start ">

  </div>

  <!-- Second Page -->
  <div class="split">
    <div class="lockation">
      <h3 class="lockation-heading">Lockation</h3>
      <p class="lockation-content">Lockation comes in true Cabin and Check-in size, with OPTIMOV™ suspension wheels and
        a winning design that has everything you need and more! The highlight of this travel trolley is XTRASECU™ - a
        locking system that provides three layered protection in just one-click! Multipocket interiors and
        anti-microbial lined Lockation hardside trolleys will take you around the world, always looking professional and
        protected.</p>
      <div class="small-line"></div>
      <h2 class="lockation-price">KD 45000/-</h2>
      <p class="product-hightlights-heading">Product Highlights</p>
      <div class="product-highlights">
        <div class="highlights">
          <img src="./images/biceps.png" alt="">
          <p>Strong <br> Product</p>
        </div>
        <div class="highlights">
          <img src="./images/ddd 1.png" alt="">
          <p>1 year <br> Warranty</p>
        </div>
        <div class="highlights">
          <img src="./images/warranty.png" alt="">
          <p>Best quality <br> product</p>
        </div>
      </div>
      <button>Order Now</button>
    </div>
    <div class="circle-line">
      <img class="circle-image" src="./images/Ellipse 14.png" alt="">
      <img class="suitcase-active suite1" src="./images/LockationBlack.png" alt="">
      <img class="suitcase suite2" src="./images/Lockationorange.png" alt="">
      <img class="suitcase suite3" src="./images/Lockationpink.png" alt="">
      <img class="suitcase suite4" src="./images/LockationWhite.png" alt="">
    </div>
  </div>

  <!-- 3rd Page -->
  <h2 class="our-products">Our Products</h2>
  <div class="products">
    <div class="product">
      <div class="product-image">
        <img src="./images/airconic.png" alt="">
      </div>
      <p class="product-name">Airconic</p>
      <p class="product-size">Medium (65cm)</p>
      <p class="product-price">KD 45000/-</p>
      <button class="product-details">View Product</button>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="./images/curio2.png" alt="">
      </div>
      <p class="product-name">Curio 2</p>
      <p class="product-size">Medium (65cm)</p>
      <p class="product-price">KD 45000/-</p>
      <button class="product-details">View Product</button>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="./images/lightmax.png" alt="">
      </div>
      <p class="product-name">Light Max</p>
      <p class="product-size">Medium (65cm)</p>
      <p class="product-price">KD 45000/-</p>
      <button class="product-details">View Product</button>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="./images/lockation.png" alt="">
      </div>
      <p class="product-name">Lockation</p>
      <p class="product-size">Medium (65cm)</p>
      <p class="product-price">KD 45000/-</p>
      <button class="product-details">View Product</button>
    </div>
  </div>
  <div class="btn-center">
    <button class="products-more">View More</button>
  </div>

  <!-- 4th Section -->
  <hr class="image-lines">
  <div class="section-4">
    <div class="section4-image">
      <img src="./images/section4.png" alt="">
    </div>
    <div class="section4-contents">
      <p class="maxmotion">MAXMOTION EXPANDABLE : ANTI THEFT ZIPPER LUGGAGE</p>
      <div class="products4">
        <div class="product4">
          <div class="product4-image">
            <img src="./images/airconic.png" alt="">
          </div>
          <p class="product4-name">Airconic</p>
          <p class="product4-size">Medium (65cm)</p>
          <p class="product4-price">KD 45000/-</p>
          <button class="product4-details">View Product</button>
        </div>
        <div class="product4">
          <div class="product4-image">
            <img src="./images/curio2.png" alt="">
          </div>
          <p class="product4-name">Curio 2</p>
          <p class="product4-size">Medium (65cm)</p>
          <p class="product4-price">KD 45000/-</p>
          <button class="product4-details">View Product</button>
        </div>
        <div class="product4">
          <div class="product4-image">
            <img src="./images/lightmax.png" alt="">
          </div>
          <p class="product4-name">Light Max</p>
          <p class="product4-size">Medium (65cm)</p>
          <p class="product4-price">KD 45000/-</p>
          <button class="product4-details">View Product</button>
        </div>
        <div class="product4">
          <div class="product4-image">
            <img src="./images/lockation.png" alt="">
          </div>
          <p class="product4-name">Lockation</p>
          <p class="product4-size">Medium (65cm)</p>
          <p class="product4-price">KD 45000/-</p>
          <button class="product4-details">View Product</button>
        </div>
      </div>
    </div>
  </div>
  <hr class="image-lines">

  <!-- 5th section -->
  <div class="qualities">
    <div class="quality">
      <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
        <path
          d="M0 17.7368C0 16.643 0 15.5493 0 14.4555C0.0320873 14.2621 0.0650494 14.0689 0.0959699 13.8753C0.394091 12.0086 0.588073 10.1175 1.01586 8.28092C1.56134 5.93913 2.52017 3.75092 4.19294 1.95592C5.6007 0.445336 7.29083 -0.290046 9.39561 0.105941C12.1367 0.621672 14.722 1.60456 17.216 2.80273C18.681 3.50661 19.5327 4.81067 19.6908 6.44188C19.8011 7.57908 19.8233 8.74093 19.7277 9.87858C19.5552 11.9322 18.4391 13.3481 16.5205 14.1173C15.6592 14.4625 14.7945 14.799 13.9326 15.1428C12.6348 15.6604 11.3381 16.1811 10.0515 16.6961C10.0515 16.8127 10.0404 16.8865 10.0538 16.9556C10.0817 17.0981 10.118 17.2394 10.1589 17.3788C10.6237 18.9689 11.4141 20.4019 12.321 21.7719C14.9928 25.8082 18.312 29.2875 21.7421 32.6695C21.7888 32.7156 21.8611 32.7359 21.9202 32.7675C21.9426 32.7307 21.9552 32.7162 21.9612 32.6994C22.0096 32.5623 22.0533 32.4233 22.105 32.2875C23.2788 29.2059 25.3486 26.9342 28.3913 25.6698C29.3293 25.2801 29.7307 24.8545 29.922 23.8215C31.0398 17.7893 36.2338 13.4005 42.3681 13.1704C48.4192 12.9436 53.8856 16.9496 55.5162 22.828C55.7292 23.5958 55.8412 24.3917 56 25.1745C56 25.9765 56 26.7787 56 27.5807C55.9669 27.6817 55.916 27.7803 55.9035 27.8837C55.1679 33.9308 50.5096 38.6417 44.4989 39.3991C44.1763 39.4398 44.0383 39.5646 43.9535 39.8795C43.4571 41.7254 42.6565 43.4422 41.5341 44.983C37.1055 51.0631 31.0983 54.3715 23.6385 55.1354C21.9216 55.3113 20.4504 54.8319 19.0936 53.8257C17.2322 52.4454 15.6904 50.7497 14.2608 48.9477C10.8038 44.5902 8.02023 39.814 5.60187 34.8211C3.48804 30.4571 1.67131 25.9764 0.610388 21.2252C0.353398 20.0743 0.200692 18.9002 0 17.7368Z"
          fill="white" />
      </svg>
      <p class="quality-name">Strong <br> Product</p>
      <p class="quality-description">British Voyager has built a trusted reputation across 120 countries. We produce high-quality luggage backed by
        a 10-year global warranty.</p>
    </div>
    <div class="quality">
      <svg xmlns="http://www.w3.org/2000/svg" width="52" height="63" viewBox="0 0 52 63" fill="none">
        <path
          d="M0.992618 24.5903C0.992618 20.8551 0.991351 17.1198 0.993163 13.3846C0.993888 11.7088 1.81169 10.9091 3.48714 10.8638C9.91594 10.6897 15.8005 8.90192 20.791 4.73175C22.0577 3.67318 23.0904 2.31278 24.1316 1.01162C25.1697 -0.285555 26.8752 -0.379582 27.7956 0.987704C30.349 4.78158 33.9646 7.1616 38.1204 8.82021C41.4947 10.167 45.0112 10.8337 48.6466 10.8718C50.0892 10.8868 50.9856 11.7725 50.9865 13.2005C50.9907 20.5578 51.0373 27.9157 50.9675 35.2722C50.9184 40.4593 49.1397 45.1199 46.1044 49.2754C41.2653 55.9 34.8987 60.4211 27.0457 62.8442C26.187 63.1093 25.3958 63.0102 24.5936 62.741C15.4036 59.6562 8.18632 54.1448 3.59621 45.4855C1.82093 42.1364 0.989539 38.5125 0.992256 34.7095C0.994611 31.3363 0.992618 27.9633 0.992618 24.5903ZM41.2066 31.5097C41.2177 23.1735 34.3958 16.3237 26.064 16.305C17.6263 16.2862 10.7848 23.085 10.7747 31.4987C10.7645 39.8555 17.5611 46.7098 25.8842 46.7372C34.3599 46.7651 41.1954 39.9718 41.2066 31.5097Z"
          fill="white" />
        <path
          d="M20.0798 34.3787C21.0072 33.4454 21.8646 32.5786 22.7266 31.716C25.4447 28.9959 28.1617 26.2748 30.8854 23.5603C31.6429 22.8054 32.5549 22.6284 33.4261 23.0315C34.2267 23.402 34.7891 24.2355 34.6536 25.1073C34.5751 25.6119 34.3555 26.1891 34.0063 26.5425C29.698 30.9031 25.3625 35.2367 21.0139 39.5568C19.9093 40.6542 18.2592 40.3799 17.5325 39.0001C16.7749 37.5616 16.05 36.1048 15.3518 34.6366C14.8193 33.517 15.2668 32.2809 16.3339 31.7533C17.4075 31.2225 18.6284 31.622 19.2295 32.7164C19.5114 33.2299 19.7642 33.7592 20.0798 34.3787Z"
          fill="white" />
      </svg>
      <p class="quality-name">1 year <br> Warranty</p>
      <p class="quality-description">British Voyager has built a trusted reputation across 120 countries. We produce high-quality luggage backed by
        a 10-year global warranty.</p>
    </div>
    <div class="quality">
      <svg xmlns="http://www.w3.org/2000/svg" width="51" height="66" viewBox="0 0 51 66" fill="none">
        <path
          d="M26.6612 0.000173067C27.1791 0.120468 27.6993 0.231826 28.2145 0.362948C29.781 0.761813 31.1585 1.51572 32.4025 2.54511C32.6321 2.735 33.0068 2.87076 33.2989 2.84619C38.5331 2.4047 43.265 5.8491 44.4726 10.9826C44.5364 11.2538 44.7593 11.56 44.9966 11.7071C49.5611 14.5363 51.2999 19.9601 49.2451 24.9697C49.1543 25.191 49.1638 25.517 49.2563 25.7404C51.3202 30.7275 49.573 36.1171 44.9643 38.9782C44.755 39.1082 44.55 39.3644 44.4907 39.5991C43.1564 44.8701 38.856 48.0935 33.4604 47.8136C32.9678 47.788 32.6225 47.9158 32.2544 48.229C28.3843 51.5204 22.5534 51.5005 18.7037 48.1817C18.3644 47.8892 18.0439 47.7979 17.6067 47.8203C12.1665 48.1004 7.85801 44.8909 6.50761 39.6005C6.44437 39.3525 6.20223 39.098 5.97573 38.9516C2.58255 36.7586 0.834143 33.6397 0.923333 29.6136C0.951689 28.3381 1.4583 27.0754 1.72106 25.8016C1.78035 25.5143 1.83088 25.1656 1.72484 24.9123C-0.312442 20.0402 1.46655 14.5011 5.95219 11.7484C6.20704 11.592 6.45743 11.2744 6.52411 10.9886C7.71469 5.88742 12.4841 2.41175 17.7025 2.84739C17.9802 2.87059 18.3414 2.76559 18.5514 2.58773C20.1321 1.24746 21.9284 0.406428 23.9812 0.112908C24.1039 0.0953792 24.2211 0.0384945 24.3409 0C25.1144 0.00017185 25.8877 0.000173067 26.6612 0.000173067ZM25.483 44.181C35.7993 44.2058 44.2793 35.7707 44.3238 25.4399C44.3687 15.0251 36.0014 6.59287 25.5502 6.52069C15.2194 6.44937 6.71057 14.9054 6.67757 25.2763C6.64458 35.6729 15.0831 44.1559 25.483 44.181Z"
          fill="white" />
        <path
          d="M34.2651 65.9997C34.1696 65.7893 34.091 65.5692 33.9763 65.37C31.9946 61.9302 30.0087 58.4929 28.0239 55.055C27.9173 54.8705 27.8123 54.685 27.668 54.4322C28.0527 54.3406 28.3928 54.2544 28.7355 54.1791C30.5401 53.7823 32.1894 53.0373 33.7149 51.999C33.9314 51.8516 34.2151 51.7308 34.4708 51.7241C38.2225 51.6275 41.4438 50.264 44.1785 47.7136C44.2555 47.6417 44.339 47.577 44.4911 47.4482C46.3161 50.607 48.1225 53.7335 49.9841 56.9557C48.9195 57.1375 47.9226 57.3133 46.9238 57.4773C44.9761 57.7969 43.0235 58.0896 41.0823 58.4439C40.7231 58.5094 40.3179 58.7388 40.0857 59.0184C38.1682 61.3286 36.2866 63.6687 34.394 65.9997C34.3511 65.9997 34.3081 65.9997 34.2651 65.9997Z"
          fill="white" />
        <path
          d="M16.6068 66C14.9055 63.9012 13.16 61.8359 11.5236 59.6876C10.8429 58.794 10.0633 58.3963 8.97408 58.247C6.34064 57.8857 3.72353 57.4061 1.01758 56.9606C2.86067 53.7671 4.66923 50.6331 6.50717 47.4487C6.68349 47.5996 6.82818 47.7173 6.96601 47.8426C9.64326 50.2743 12.774 51.5969 16.4015 51.7232C16.6656 51.7324 16.971 51.7847 17.1811 51.9284C18.9426 53.1327 20.8524 53.9627 22.9624 54.3176C23.066 54.3349 23.165 54.3798 23.3296 54.432C23.2016 54.6597 23.0921 54.8587 22.9785 55.0555C20.9832 58.5123 18.9866 61.9682 16.9942 65.4265C16.89 65.6073 16.8211 65.8084 16.7357 66C16.6927 66 16.6498 66 16.6068 66Z"
          fill="white" />
        <path
          d="M25.0988 40.3021C16.5814 39.9526 10.2294 33.0743 10.5549 24.5531C10.8632 16.4821 17.9436 10.0642 26.1591 10.4088C34.4456 10.7562 40.7886 17.7368 40.4447 26.13C40.1184 34.0939 33.0428 40.6283 25.0988 40.3021ZM32.1723 18.9123C29.3832 21.7023 26.5724 24.5137 23.6831 27.4039C22.0156 25.7301 20.3401 24.0482 18.7264 22.4283C17.8433 23.3109 16.954 24.1999 16.1456 25.008C18.701 27.5699 21.3007 30.176 23.8469 32.7285C27.5178 29.0583 31.2302 25.3467 34.9065 21.6713C34.0575 20.8143 33.1725 19.9215 32.1723 18.9123Z"
          fill="white" />
      </svg>
      <p class="quality-name">Best quality product</p>
      <p class="quality-description">British Voyager has built a trusted reputation across 120 countries. We produce high-quality luggage backed by
        a 10-year global warranty.</p>
    </div>
  </div>

  <!-- 6th section -->
  <div class="btns">
    <div class="btns-3">
      <button>Most Popular</button>
      <button>Best Seller</button>
      <button>What’s New</button>
    </div>
  </div>
  <div class="products">
    <div class="product">
      <div class="product-image">
        <img src="./images/airconic.png" alt="">
      </div>
      <p class="product-name">Airconic</p>
      <p class="product-size">Medium (65cm)</p>
      <p class="product-price">KD 45000/-</p>
      <button class="product-details">View Product</button>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="./images/curio2.png" alt="">
      </div>
      <p class="product-name">Curio 2</p>
      <p class="product-size">Medium (65cm)</p>
      <p class="product-price">KD 45000/-</p>
      <button class="product-details">View Product</button>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="./images/lightmax.png" alt="">
      </div>
      <p class="product-name">Light Max</p>
      <p class="product-size">Medium (65cm)</p>
      <p class="product-price">KD 45000/-</p>
      <button class="product-details">View Product</button>
    </div>
    <div class="product">
      <div class="product-image">
        <img src="./images/lockation.png" alt="">
      </div>
      <p class="product-name">Lockation</p>
      <p class="product-size">Medium (65cm)</p>
      <p class="product-price">KD 45000/-</p>
      <button class="product-details">View Product</button>
    </div>
  </div>
  <div class="btn-center">
    <button class="products-more">View More</button>
  </div>

  <!-- 7th section -->

  <div class="section7">
    <div class="sec7-1">
      <img src="./images/section7-1.jpg" alt="">
      <div class="sec7-product">
        <img src="./images/airconic.png" alt="">
        <p class="product7-name">Airconic| Check-In Luggage Black ...</p>
        <div class="reviews">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#ED1C24"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#ED1C24"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#ED1C24"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#ED1C24"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#8A8A8A"/>
          </svg>
          <p class="review-number">33 reviews</p>
        </div>
        <div class="product7-price">
          <p class="product7-rate">KD 45000/-</p>
          <p class="product7-mrp">KD 45000/-</p>
          <p class="product7-discount">26% Off</p>
        </div>
          <button>View Product</button>
      </div>
    </div>
    <div class="sec7-2">
      <img src="./images/section7-2.png" alt="">
      <div class="sec7-product">
        <img src="./images/airconic.png" alt="">
        <p class="product7-name">Airconic| Check-In Luggage Black ...</p>
        <div class="reviews">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#ED1C24"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#ED1C24"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#ED1C24"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#ED1C24"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M2.61593 13.6438C2.67717 12.7897 2.73769 11.9493 2.79784 11.109C2.82864 10.6776 2.85944 10.246 2.88933 9.81435C2.91212 9.48535 2.80713 9.20101 2.59478 8.95003C1.80428 8.01535 1.01414 7.08048 0.230197 6.14033C0.138151 6.03006 0.0550353 5.89463 0.020404 5.75756C-0.0712778 5.3943 0.152551 5.08681 0.560289 4.98492C1.12277 4.84439 1.68635 4.70806 2.2492 4.56917C2.89498 4.40986 3.5404 4.24965 4.18619 4.09052C4.51136 4.01032 4.76088 3.82915 4.93787 3.54353C5.5554 2.54743 6.17511 1.5526 6.7941 0.557224C6.83621 0.489602 6.87685 0.421064 6.92096 0.354718C7.2352 -0.117179 7.77253 -0.12082 8.07728 0.359279C8.57415 1.14231 9.05899 1.93281 9.54893 2.7204C9.72027 2.99581 9.8916 3.27104 10.0622 3.54681C10.2421 3.83772 10.4997 4.01343 10.8323 4.09472C12.0251 4.38599 13.2171 4.68053 14.4081 4.97946C15.0185 5.13275 15.1833 5.6493 14.7779 6.13304C14.0025 7.05806 13.2266 7.98272 12.4432 8.90082C12.2006 9.18497 12.0812 9.49592 12.1095 9.87049C12.2006 11.0795 12.2824 12.2892 12.3747 13.4982C12.4108 13.9717 12.199 14.3035 11.7961 14.3243C11.6445 14.3321 11.4808 14.2823 11.3365 14.2244C10.2126 13.7742 9.09216 13.3154 7.97066 12.8595C7.65533 12.7314 7.34182 12.7323 7.02504 12.8615C5.90408 13.319 4.78257 13.7753 3.65888 14.226C3.52418 14.28 3.37454 14.3248 3.23182 14.3248C2.8609 14.3246 2.61082 14.0292 2.61593 13.6438Z" fill="#8A8A8A"/>
          </svg>
          <p class="review-number">33 reviews</p>
        </div>
          <div class="product7-price">
            <p class="product7-rate">KD 45000/-</p>
            <p class="product7-mrp">KD 45000/-</p>
            <p class="product7-discount">26% Off</p>
          </div>
          <button>View Product</button>

    </div>
  </div>
  </div>

  <!-- 8th section -->

  <div class="part8">
    <div class="part8-image">
      <p class="mob-review">Review</p>
      <img src="./images/last-home.jpg" alt="">
    </div>
    <div class="comment8">
      <div class="part8-content">
        <p class="part8-review des-review">Review</p>
        <p class="part8-heading">Lovable product and long-lasting one.</p>
        <p class="part8-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultricies ligula non pellentesque tristique. Curabitur euismod diam id dolor consequat, eget auctor velit lobortis. Morbi posuere suscipit mauris et facilisis. Aenean vitae tortor elementum, sollicitudin velit non, egestas elit. Maecenas sed augue non enim varius fermentum. Curabitur sed convallis orci. Nulla facilisi. Mauris ullamcorper, nisl eget lacinia posuere, purus lectus consectetur justo, id consectetur ex mi eu metus. Sed quis libero lobortis, iaculis purus vel, luctus augue. Proin ac magna massa. Morbi vel ultricies nibh. Nullam pretium lectus eu arcu imperdiet, in luctus odio congue. Duis maximus nunc risus, non faucibus ex vulputate et.</p>
        <p class="part8-name">-Muhammed Siyad T</p>
        <p class="part8-country">(Kuwait)</p>
      </div>
    </div>
    <div class="page-numbers">
      <p class="current-page">1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
      <p>5</p>
      <p>6</p>
      <p>7</p>
      <p>8</p>
      <p>9</p>
    </div>
  </div>

  <%- include('partials/footer') %>


</body>
<script src="./js/dashboard.js"></script>

</html>