<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>British voyager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/99a73375c2.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/product.css">



</head>

<body>
  <%- include('partials/navbar') %>
    <div class="cart_mini ">
      <div class="mini_align">
        <img src="./images/LockationBlack.png" alt="" class="mini-cartImg">
        <p class="mini_para">Ryder Hard Luggage With TSA Lock and Dual Wheels - Midnight Blue</p><span
          class="mini_para ">KD 45000</span>
      </div>
      <div>
        <div class="dropdown">
          <button class="btn  dropdown-toggle" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cabin
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <button class="btn-primary btn Add-miniCart ms-2">ADD TO
          CART</button>
        <button class="btn-primary btn Buy-miniCart ms-2">BUY NOW</button>
      </div>
    </div>

    <!-- product details start -->

    <div class="main-product">
      <div class="product-left">
        <div class=" img-wrap">
          <img src="/images/Rectangle 146.png" alt="">
          <img src="/images/Rectangle 147.png" alt="">
          <img src="/images/Rectangle 145.png" alt="">
          <img src="/images/Rectangle 149.png" alt="">
          <img src="/images/Rectangle 147.png" alt="">
          <img src="/images/Rectangle 147.png" alt="">
          <img src="/images/Rectangle 147.png" alt="">
        </div>
        <div class=" main-image"><img id="main_img" src=/images/<%=product.mainImage%>.jpg alt=""></div>
      </div>
      <div class="product-right">
        <h3>Airconic| Check-In Luggage Black ...</h3>
        <span>
          <img src="/images/review star.png" alt="">
          <img src="/images/review star.png" alt="">
          <img src="/images/review star.png" alt="">
          <img src="/images/review star.png" alt="">
          <img src="/images/review star.png" alt="">
        </span>
        <p class="product-reviewpara">33 review</p>
        <p class="d-inline para-price me-2">Selling price KD 45000/-</p> <span class="offer-span">SAVE 56%</span>
        <span class="d-block mb-3 size-para">(inclusive all taxes) </span>
        <p>COLOR</p>
        <div class="color-selector mb-3">
          <div class="color-black    color-circle"></div>
          <div class="color-white    color-circle"></div>
          <div class="color-pink     color-circle"></div>
          <div class="color-orange   color-circle"></div>

        </div>
        <div class="d-flex justify-content-between size-para ">
          <p>Size</p>
          <p>Size Chart</p>
        </div>


        <div class="size-button d-flex justify-content-evenly mb-3">
          <button class="btn-primary btn-size">Cabin</button>
          <button class="btn-primary btn-size selected">Medium</button>
          <button class="btn-primary btn-size">Large</button>
        </div>
        <button id="cart-button" class="btn-addtocart btn-cart d-block mb-2" data-product-id="<%= product.id %>">ADD TO
          CART</button>
        <button class="btn-buynow btn-cart d-block">BUY NOW</button>
        <p class="mt-5 product-desc">Introducing Ryder Hard Luggage, our flagship collection that combines timeless
          style with exceptional functionality. Ryder is available in two sophisticated colors: Midnight Blue and
          Gunmetal. Equipped with a reliable TSA lock and smooth dual wheels. Step inside, and you'll discover a
          thoughtfully designed interior with carefully placed compartments and pockets, allowing you to keep your
          belongings organized and easily accessible. Plus, with our 5-year warranty, you can embark on your adventures
          with peace of mind, knowing that Ryder is built to last.</p>
        <div class="prod-desc-properties-main">
          <div class="prod-desc-properties">

            <div class="prod-desc-properties-img">
              <img src="/images/dualwheels.png" alt="">
            </div>
            <div class="prod-desc-properties-data">
              <p class="prod-desc-properties-data-heading">Dual Wheels</p>
              <p class="prod-desc-properties-data-para">
                Safari's whisper wheels offer quiet and effortless maneuverability in every direction.</p>
            </div>

          </div>
          <div class="prod-desc-properties">

            <div class="prod-desc-properties-img">
              <img src="/images/zipper.png" alt="">
            </div>
            <div class="prod-desc-properties-data">
              <p class="prod-desc-properties-data-heading">Anti-theft Zipper</p>
              <p class="prod-desc-properties-data-para">
                Dual coil security zipper makes it difficult to break open providing an added layer of security.</p>
            </div>

          </div>
          <div class="prod-desc-properties">

            <div class="prod-desc-properties-img">
              <img src="/images/shell.png" alt="">
            </div>
            <div class="prod-desc-properties-data">
              <p class="prod-desc-properties-data-heading">Unbreakable Polycarbonate Shell</p>
              <p class="prod-desc-properties-data-para">
                Made with 100% virgin polycarbonate, this lightweight yet strong shell can withstand any journey</p>
            </div>

          </div>
          <div class="prod-desc-properties">
            <div class="prod-desc-properties-img">
              <img src="/images/handle.png" alt="">
            </div>
            <div class="prod-desc-properties-data">
              <p class="prod-desc-properties-data-heading">Telescopic Handle</p>
              <p class="prod-desc-properties-data-para">
                Our multi-stop telescopic handle is adjustable, making it suitable for all customer heights.</p>
            </div>

          </div>
        </div>
        <div class="prod-dimension-size mt-4">
          <p class="prod-dimension-size-heading">Size and Dimensions</p>
          <p class="prod-dimension-size-data-para">Cabin- Dimension: 59 x 40 x 27 CM, Capacity: 49 L, Weight: 3 Kgs</p>
          <p class="prod-dimension-size-data-para">Medium- Dimension: 69 x 49 x 31 CM, Capacity: 83 L ,Weight: 3.5 Kgs
          </p>
          <p class="prod-dimension-size-data-para"> Large- Dimension: 79 x 57 x 34 CM, Capacity: 125 L ,Weight: 6.1 Kgs
          </p>
          <hr>
        </div>
        <div class="prod-dimension-size mt-4">
          <p class="prod-dimension-size-heading">Imported/Manufactured by</p>
          <p class="prod-dimension-size-data-para">Imported/Manufactured by: Manufactured by Safari Industries (India) LtdAddress: 302-303, A Wing, The Qube, Sir Mathuradas Vasanji Rd, Marol, Andheri East, Mumbai, Maharashtra 400059Country of Origin: IndiaNet Quantity: 1</p>
          <hr>
        </div>
        <div class="product-pincode">
          <p class="product-pincode-heading">Enter Delivery Pincode</p>
          <div class="pincode-button">
            <input class="pincode-input" type="text" placeholder="Enter  Pincode">
            <button class="btn button"> check</button>
          </div>
        </div>
      </div>
    </div>
    <!-- product details end -->

    <!-- image banner -->
    <div class="image-container"><img class="mb-4" src="./images/image banner.png" alt=""><img
        src="./images/imagebanner2.png" alt=""></div>

    <!-- customer review start -->
    <div class="container-border">
      <div class="customer-main">
        <div class="customer-review ">
          <div class="d-flex justify-content-between">
            <h5>Customer Reviews</h5> <button class="btn-primary btn-size ">Write a Review</button>
          </div>
          <div class="customer-graphmain">
            <div class="first-star">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <p>Based on 126 reviews</p>
            </div>

            <div class="total-stars">
              <div><img src="./images/veracutsomer.png" alt=""></div>
              <div class="customer-staralign">
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <div class="first-star">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              <div class="progress-bar">
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
                <div class="w3-border">
                  <div class="w3-grey"></div>
                </div>
              </div>
              <div class="progress-number">
                <p class="progress-para">89% (121)</p>
                <p class="progress-para">52% (121)</p>
                <p class="progress-para">32% (121)</p>
                <p class="progress-para">32% (121)</p>
                <p class="progress-para">32% (121)</p>
              </div>
              <div><img src="./images/veracutsomer.png" alt=""></div>

            </div>
          </div>
          <div class="dropdown">
            <button class="btn  dropdown-toggle" id="dropdownMenuButton1" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Cabin
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>

        <div class="customer-details">
          <hr>

          <div class="customer-firstpart">
            <div class="customer-alphabet"> <span>A</span></div>
            <div class="star-verified">
              <div class="customer-star">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>


              </div>
              <div class="customer-verified">
                <p class="span-verified">
                  Verified
                </p>
                <span>A.V</span>
              </div>
            </div>
            <div class="customer-date">
              <p>21/06/23</p>
            </div>
          </div>
          <div class="customer-response">
            <h5>Quality product</h5>
            <p>Best quality product with reasonable price. Material quality and finishing is excellent.</p>
          </div>
        </div>
        <div class="customer-details">
          <hr>

          <div class="customer-firstpart">
            <div class="customer-alphabet"> <span>A</span></div>
            <div class="star-verified">
              <div class="customer-star">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>


              </div>
              <div class="customer-verified">
                <p class="span-verified">
                  Verified
                </p>
                <span>A.V</span>
              </div>
            </div>
            <div class="customer-date">
              <p>21/06/23</p>
            </div>
          </div>
          <div class="customer-response">
            <h5>Quality product</h5>
            <p>Best quality product with reasonable price. Material quality and finishing is excellent.</p>
          </div>
        </div>
        <div class="customer-details">
          <hr>

          <div class="customer-firstpart">
            <div class="customer-alphabet"> <span>A</span></div>
            <div class="star-verified">
              <div class="customer-star">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>


              </div>
              <div class="customer-verified">
                <p class="span-verified">
                  Verified
                </p>
                <span>A.V</span>
              </div>
            </div>
            <div class="customer-date">
              <p>21/06/23</p>
            </div>
          </div>
          <div class="customer-response">
            <h5>Quality product</h5>
            <p>Best quality product with reasonable price. Material quality and finishing is excellent.</p>
          </div>
        </div>
        <div class="customer-details">
          <hr>

          <div class="customer-firstpart">
            <div class="customer-alphabet"> <span>A</span></div>
            <div class="star-verified">
              <div class="customer-star">

                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>


              </div>
              <div class="customer-verified">
                <p class="span-verified">
                  Verified
                </p>
                <span>A.V</span>
              </div>
            </div>
            <div class="customer-date">
              <p>21/06/23</p>
            </div>
          </div>
          <div class="customer-response">
            <h5>Quality product</h5>
            <p>Best quality product with reasonable price. Material quality and finishing is excellent.</p>
          </div>
        </div>
      </div>

    </div>
    <%- include('partials/footer') %>

</body>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const addToCartButton = document.getElementById('cart-button');
    const token = getCookie('token');
    addToCartButton.addEventListener('click', async () => {
      const size = document.querySelector(".selected").innerText;
      const productId = addToCartButton.getAttribute('data-product-id');
      try {
        const response = await fetch('/add-to-cart', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`, // Include your JWT token
          },
          body: JSON.stringify({ productId, size, token }),
        });
        if (response.ok) {
          alert('Product added to cart');
          // You can perform additional actions, like updating the cart icon
        } else {
          alert('Failed to add product to cart');
        }
      } catch (error) {
        console.error('Error adding product to cart:', error);
      }
    });


    const sizeButtons = document.querySelectorAll('.btn-size');


    sizeButtons.forEach(button => {
      button.addEventListener('click', () => {
        // Remove the 'selected' class from all buttons
        sizeButtons.forEach(btn => {
          btn.classList.remove('selected');
        });

        // Add the 'selected' class to the clicked button
        button.classList.add('selected');
      });
    });
  });



</script>

</html>